<div class="footer">
  <div class="center social-bar">
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="#"><i class="fa fa-youtube-play"></i></a>
    <a href="https://in.linkedin.com/pub/subramanian-alagappan/7b/908/4a5"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/sinclabs"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/sinclabs"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="center text-bar">
    <p>Designed and Developed by <a href="\About\Subbu">Subramanian Alagappan</a></p>
  </div>
</div>
