<!DOCTYPE html>
<html>
  <head>
    <title>Assembly</title>
    <% include Partials/Stylesheets %>
  </head>
  <body>
  <div id="overlay"></div>
  <div id="preloader5"></div>
  <% include Partials/Javascripts %>
  </body>
</html>
